.contenu{
    width: auto; 
    margin-left: 4%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }


#tabarticle{
    width: 100% !important;
    margin-left: 5%;
    margin-top: 2%;
}
#tabcom{
    width: auto !important;
    height: auto !important;
}
  


#detail{
    margin-top: -4% !important;
    margin-left: -0.5%;
    margin-bottom: 3%;
}
  table {
      width: 100% !important;
  }
  
titre{
    margin-left: 11% !important;
}



  fieldset{
  padding: 3%;
  margin-top: 5%;
  width: 150%;
  }

  hr{
    width: 160%;
  }

#fixe{
    position: fixed;
}

  #grandediv{
      border: solid black 1px;
      border-radius: 20px 0px 0px 20px;
      background-color: rgba(170, 234, 253, 0.945);
      display: flex;
      width: 250%;
    margin-left: -10%;
      grid-area: 1 / 1 / 2 / 4;
  }

  #petitediv1{
      border: solid black 1px;
      display: flex;
      grid-area: 1 / 4 / 2 / 5; 
      width: 100%;
    margin-left: 118%;
      overflow : auto;
  }

  #petitediv2{
      background-color: crimson;
      display: grid;
      grid-area: 2 / 4 / 3 / 5;
      width: 100%;
  }

  #petitediv3{
      background-color: darkorange;
      display: grid;
      grid-area: 3 / 4 / 4 / 5;
      width: 100%;
  }
  