#ticketbtn{
  
    width : 50vh !important;
    height : 10vh;
    /* background-color : lightcoral; */
  }
  
form{
    margin-top : 2.5vh;
    margin-left: 1.5vh;
    width : 8vh;
    display: inline-block;

}

.title{
    margin-left: 1.5vh; 
}

.table{
    width : 50%; 
}

th, tr{
    text-align: center;

}

#btnselect{
    width: 35px !important;
}

/* .table > #tableTicket{
    /* width : 1000vh; 
} */
